.bgColor {
    background: url('../../../public/MegaTron.png') !important;
    /* background-size: cover; */
}

.imageArjust {
    left: 579px;
    bottom: 185px;
}
.btnColor {
    background: linear-gradient(91.12deg, #F56565 0%, #E55278 53.57%, #D53F8C 100%);
}