@tailwind base;
@tailwind components;
@tailwind utilities; 


* {
  box-sizing: border-box;
}

html,body{
  padding: 0;
  margin: 0;
}
.f-f-r{
  font-family: 'Raleway', sans-serif;
}
.f-l {
  font-family: 'Lato', sans-serif;
}
.f-m {
  font-family: 'Manrope', sans-serif;
}
.f-m-w {
  font-family: 'Merriweather', serif
}